h1,p{
    font-family: 'Poppins', sans-serif;
    color:#4a4a4a;
}
h4{
    font-family: 'Poppins', sans-serif;  
}
.catogry-ul li{
    margin: 10px;
    background-color: white;
    padding:15px;
    color:#4a4a4a;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 200;
    
    width: 180px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-family:'Poppins', sans-serif; 
    transition: 0.5s;

    
}
.active{
    background-color: #4a4a4a !important;
    color: white !important;
}
.catogry-ul li:hover{
background-color: #4a4a4a94;
color: white;
}
.selection-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    list-style: none;

}
.catogry-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    justify-content: center;


}
.feched-data{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;

}
.texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection{
    margin: 15px;
    text-align: center;
}
.selection img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.selection h4{
    margin-top: 10px;
}
.meals{
    text-align: center;
    padding: 20px;
}

.meals img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    transition: 0.8s;
}
.meals h4{
    margin-top: 10px;
}
.meals img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.dish-header{
    margin-top: 50px;
    margin-bottom: 15px;

}
.pagination-li{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);  
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    margin-left: 15px;
    padding: 20px;
    border-radius: 5px;
}
.pagination-li:hover{
    background-color: #4a4a4a94;
    color: white !important;
    cursor: pointer;
}

.pagination-li .active{
    background-color: #4a4a4a94; 
    color: aliceblue !important;
}